/LaboratorioWeb/paginaWeb/dist/
/LaboratorioWeb/paginaWeb/nbproject/private/
/LaboratorioWeb/paginaWeb/build/
/LaboratorioWeb/Cliente/nbproject/private/
/LaboratorioWeb/Cliente/build/
/LaboratorioWeb/Cliente/dist/
