<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>crearPaqueteEspectaculo</servlet-name>
        <servlet-class>Servlets.crearPaqueteEspectaculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarEspectaculoPaquete</servlet-name>
        <servlet-class>Servlets.agregarEspectaculoPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alta_Espectador</servlet-name>
        <servlet-class>Servlets.Alta_Espectador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaArtista</servlet-name>
        <servlet-class>Servlets.AltaArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>Servlets.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlets.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarPaqueteEspectaculo</servlet-name>
        <servlet-class>Servlets.consultarPaqueteEspectaculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuEspectador</servlet-name>
        <servlet-class>Servlets.menuEspectador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarEspectaculosPaquete</servlet-name>
        <servlet-class>Servlets.agregarEspectaculoPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seguirUsuario</servlet-name>
        <servlet-class>Servlets.seguirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>Servlets.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarEspectador</servlet-name>
        <servlet-class>Servlets.modificarEspectador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarArtista</servlet-name>
        <servlet-class>Servlets.modificarArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarUsuario</servlet-name>
        <servlet-class>Servlets.buscarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuArtista</servlet-name>
        <servlet-class>Servlets.menuArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaEspectaculo</servlet-name>
        <servlet-class>Servlets.altaEspectaculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaEspectaculo</servlet-name>
        <servlet-class>Servlets.consultaEspectaculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprarPaquete</servlet-name>
        <servlet-class>Servlets.comprarPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaFuncion</servlet-name>
        <servlet-class>Servlets.altaFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarFuncion</servlet-name>
        <servlet-class>Servlets.consultarFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroFuncion</servlet-name>
        <servlet-class>Servlets.registroFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exito</servlet-name>
        <servlet-class>Servlets.exito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscador</servlet-name>
        <servlet-class>Servlets.buscador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalizarEspectaculo</servlet-name>
        <servlet-class>Servlets.finalizarEspectaculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarEspectaculoFinalizado</servlet-name>
        <servlet-class>Servlets.consultarEspectaculoFinalizado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visualizarPremio</servlet-name>
        <servlet-class>Servlets.visualizarPremio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>espectaculoFavorito</servlet-name>
        <servlet-class>Servlets.espectaculoFavorito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valorarEspectaculo</servlet-name>
        <servlet-class>Servlets.valorarEspectaculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearPaqueteEspectaculo</servlet-name>
        <url-pattern>/crearPaqueteEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarEspectaculoPaquete</servlet-name>
        <url-pattern>/agregarEspectaculoPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alta_Espectador</servlet-name>
        <url-pattern>/registroE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaArtista</servlet-name>
        <url-pattern>/AltaArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarPaqueteEspectaculo</servlet-name>
        <url-pattern>/consultarPaqueteEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuEspectador</servlet-name>
        <url-pattern>/menuEspectador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarEspectaculosPaquete</servlet-name>
        <url-pattern>/agregarEspectaculosPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguirUsuario</servlet-name>
        <url-pattern>/seguirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarEspectador</servlet-name>
        <url-pattern>/modificarEspectador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarArtista</servlet-name>
        <url-pattern>/modificarArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarUsuario</servlet-name>
        <url-pattern>/buscarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuArtista</servlet-name>
        <url-pattern>/menuArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaEspectaculo</servlet-name>
        <url-pattern>/altaEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaEspectaculo</servlet-name>
        <url-pattern>/consultaEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprarPaquete</servlet-name>
        <url-pattern>/comprarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaFuncion</servlet-name>
        <url-pattern>/altaFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarFuncion</servlet-name>
        <url-pattern>/consultarFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroFuncion</servlet-name>
        <url-pattern>/registroFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exito</servlet-name>
        <url-pattern>/exito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscador</servlet-name>
        <url-pattern>/buscador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalizarEspectaculo</servlet-name>
        <url-pattern>/finalizarEspectaculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarEspectaculoFinalizado</servlet-name>
        <url-pattern>/consultarEspectaculoFinalizado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visualizarPremio</servlet-name>
        <url-pattern>/visualizarPremio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>espectaculoFavorito</servlet-name>
        <url-pattern>/espectaculoFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valorarEspectaculo</servlet-name>
        <url-pattern>/valorarEspectaculo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
