/LaboratorioWeb/paginaWeb/dist/
/LaboratorioWeb/JavaApplication3/nbproject/private/
/LaboratorioWeb/Estacion de trabajo/nbproject/private/
/LaboratorioWeb/Estacion de trabajo/build/
/LaboratorioWeb/Estacion de trabajo/dist/
/LaboratorioWeb/paginaWeb/nbproject/private/
/LaboratorioWeb/paginaWeb/src/conf/persistence.xml
/LaboratorioWeb/paginaWeb/build
